*{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

html {
  min-height: 100%;
  position: relative;
}

@media (max-width: 480px) {
  .header_container_padding {
    padding: 0px 15px;
    text-decoration: none;
    background-color: #393939;
  }
  .container_portfolio_sizes{
    width: 100%;
    min-height: 800px;
   
    padding: 5px;
    top: 0px;
    background-color: #B2B1B9
    
  }
  .containerDescription_skills_justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  .description_skills_form {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
  .description_skills_none{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animationcube_skills_form {
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_modal_direction {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    background-color: #133B5C;
  }
  .contact_Form_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .container_modal_downloadCV {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer_container_form {
    width: 100%;
    height: auto;
    background-color: #1F1F1F;
    color: rgb(207, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .description_skills_columns > ul {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  .description_skills_columns > ul > li {
    text-align: justify;
    width: 300px;
  }
  .header_colapseNav_justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: auto;
  }
  .header_colapseNav_justify > a {
    width: 100%;
  }
  .header_colapseNav_justify > a:first-child{
    margin-top: 10px;
  }
  .header_colapseNav_justify > a:last-child{
    margin-bottom: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header_container_padding {
    padding: 0px 75px;
    text-decoration: none;
    background-color: #393939;
  }
  .container_portfolio_sizes{
    width: 100%;
    min-height: 400px;
   
    padding: 2vh;
    top: 0px;
    background-color: #B2B1B9
    
  }
  .header_colapseNav_justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: auto;
  }
  

  .containerDescription_skills_justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  .description_skills_form {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
  .description_skills_none{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animationcube_skills_form {
    text-align: center;
    height: 250px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_modal_direction {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .contact_Form_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-right: 20px;
  }
  .container_modal_downloadCV {
    display: flex;
    flex-direction: column-reverse;

    width: 20%;
    justify-content: center;
    align-items: center;
  }
  .footer_container_form {
    width: 100%;
    height: auto;
    background-color: #1F1F1F;
    color: rgb(207, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .description_skills_columns > ul {
    width: 50%;
    padding: 20px;
  }
  .description_skills_columns > ul > li {
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header_colapseNav_widht {
    width: 100%;
  }
  .container_portfolio_sizes{
    width: 100%;
    min-height: 800px;
   
    padding: 5vh;
    top: 0px;
    background-color: #B2B1B9
    
  }
  .header_container_padding {
    padding: 0px 75px;
    text-decoration: none;
    background-color: #393939;
  }
  .containerDescription_skills_justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  .description_skills_form {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
  .description_skills_none{
    
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    
    
  }
  .animationcube_skills_form {
    text-align: center;
    height: 250px;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_modal_direction {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .contact_Form_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-right: 20px;
  }
  .container_modal_downloadCV {
    display: flex;
    flex-direction: column-reverse;

    width: 20%;
    justify-content: center;
    align-items: center;
  }
  .footer_container_form {
    width: 100%;
    height: auto;
    background-color: #1F1F1F;
    color: rgb(207, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .description_skills_columns > ul {
    width: 50%;
    padding: 20px;
  }
  .description_skills_columns > ul > li {
    text-align: justify;
  }
  .header_colapseNav_justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .header_colapseNav_widht {
    width: 100%;
  }
  .container_portfolio_sizes{
    width: 100%;
    min-height: 800px;
   
    padding: 5vh;
    top: 0px;
    background-color: #B2B1B9
    
  }
  .header_container_padding {
    padding: 0px 75px;
    text-decoration: none;
    background-color: #393939;
  }
  .containerDescription_skills_justify {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 80%;
  }
  .header_colapseNav_justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  .description_skills_form {
    width: 60%;
    height: auto;
    min-height: 400px;
  
  }
  .description_skills_none{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animationcube_skills_form {
    width: 40%;

   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal_contact {
    width: 800px;
  }
  .container_modal_direction {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .contact_Form_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-right: 20px;
  }
  .container_modal_downloadCV {
    display: flex;
    flex-direction: column-reverse;

    width: 20%;
    justify-content: center;
    align-items: center;
  }
  .footer_container_form {
    width: 100%;
    height: auto;
    background-color: #1F1F1F;
    color: rgb(207, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .none_cube{
    width: 100%
  }
  .none_description{
    width: 0px;
  }
  .description_skills_columns > ul {
    width: 50%;
    padding: 20px;
  }
  .description_skills_columns > ul > li {
    text-align: justify;
  }
  .header_colapseNav_justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}



.text_link_noneDeco {
  text-decoration: none;
  color: black;
}
.text_link_noneDeco:hover {
  color: black;
}

.presentation_img_w100 {
  width: 100%;

  display: flex;
  justify-content: center;
}

.presentation_img_justify {
  height: 250px;
  justify-content: center;
}
.presentation_img_form {
  border-radius: 32px 100px 36px 100px;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer
}

.presentation_title_justify {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.presentation_lineTitle_form {
  width: 25%;
  height: 0px;
  border: 2px black solid;
}

.presentation_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.presentation_contaienerDescription_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.description_skills_title{
  width: 100%;
  text-align: center;
  color: whitesmoke;
  
}
.description_skills_columns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: whitesmoke;
}

.imgLogo_jusitfy{
  width: 70px;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.presentation_description_form {
  width: 65%;
  font-size: 17px;
  text-align: justify;
}

.description_contact_button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.description_button_style {
  background-color: lightgrey;
  padding: 10px 20px;
  border-radius: 13px;
  border: grey 1px solid;
}
.description_button_style:hover {
  background-color: rgb(164, 162, 162);
  border: rgb(54, 54, 54) 1px solid;
}

.container_skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container_skills_form {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

.listSkills_skills_display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.animation_cube_position {
  width: 200px;
  height: 200px;
}
.typeSkills_skills_form {
  padding: 5px 10px;
  margin: 5px 5px;
  background-color: lightgrey;
  border-radius: 10px;
  border: 1px solid grey;
}

.prueba li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}

.prueba li > label {
  display: block;
  float: left;
  position: absolute;
  margin-top: -22px;
  background: #133B5C;
  color: white;
  height: 14px;
  padding: 2px 20px 2px 20px;
  margin-left: 10px;
  font-size: 14px;
  overflow: hidden;
  font-family: sans-serif;
  padding-bottom: 20px;
}
.prueba input[type="text"],
.prueba input[type="email"],
.prueba textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  color: white;
  line-height: 25px;
  font-size: 16px;
  padding: 0px 20px;
  margin: 5px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
::placeholder {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prueba2 {
  width: 100%;
  background-color: #133B5C;
 
}
.modal_contact_buttons {
  width: 100%;
  display: flex;
  justify-content: end;
}
.modal_contact_buttons button {
  padding: 1px 10px;
  background-color: lightgrey;
  border: 1px grey solid;
  border-radius: 10px;
}
.modal_contact_buttons button:hover {
  background-color: rgb(163, 163, 163);
}

/* cube */

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
}

.cubediv {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightgrey;
  background-color: #2b2e42;
  color: white;
  padding: 30px;
}
.cubediv_special{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightgrey;
  background-color: #2b2e42;
  color: white;
  padding: 30px;
}
.icons_cube_specialAll{
  width: 25%;
  height: 50%;
  padding: 2px;
}
.icons_cube_special{
  width: 50%;
  height: 50%;
  padding: 2px;
}
.face1 {
  transform: translateZ(100px);
}
.face2 {
  transform: rotateY(90deg) translateZ(100px);
}
.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

/* FOOTER */


.footer_rrss_form {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 100%;
  justify-content: center;
}
.footer_personalData_form {
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
}

.footer_firstData_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
}

.footer_secondData_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

/* BUTTON CONTACT */
.container_button_contact {
  padding: 5px;
  background-color: #7882A4;
  border-radius: 10px;
  
}

.button_contact {
  position: relative;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: #7882A4;;
  color: #dfe2ed;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}
.button_contact:hover {
  color: #ffffff;
}

.button_contact span {
  position: absolute;
  background: #fff;
  transition: 0.5s;
}

.button_contact span:nth-child(1) {
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
}
.button_contact span:nth-child(2) {
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
}
.button_contact span:nth-child(3) {
  width: 2px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
.button_contact span:nth-child(4) {
  width: 2px;
  height: 100%;
  top: -100%;
  right: 0;
}

.button_contact:hover span:nth-child(1) {
  left: 0;
}
.button_contact:hover span:nth-child(2) {
  right: 0;
}
.button_contact:hover span:nth-child(3) {
  bottom: 0;
}
.button_contact:hover span:nth-child(4) {
  top: 0;
}

.footer_rrhh_icons:hover{
    color: white;
    cursor: pointer;
}
.classless_link{
  text-decoration: none;
  color: black;
}
.classless_link:hover{
  text-decoration: none;
  color: white;
}

/* BUTTON MODAL SUBMIT */
.modal_container_submit {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
}
.modal_submit_contact {
  display: inline-flex;
  width: 120px;
  height: 40px;
  color: black;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s ease-in-out all;
  border-radius: 5px;
}
.modal_submit_contact span {
  position: relative;
  z-index: 2;
  transition: 0.3 ease all;
}

.modal_submit_contact::after {
  content: "";
  width: 120px;
  height: 200px;
  border-radius: 0px 0px 100% 100%;
  background-color: rgb(123, 241, 129);
  position: absolute;
  z-index: 1;
  top: -200px;
  left: 0;
  transition: 0.8s ease-in-out all;
}

.modal_submit_contact:hover::after {
  top: 0;
}

.modal_container_cancel {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
  }
  .modal_cancel_contact {
    display: inline-flex;
    width: 120px;
    height: 40px;
    color: black;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease-in-out all;
    border-radius: 5px;
  }
  .modal_cancel_contact span {
    position: relative;
    z-index: 2;
    transition: 0.3 ease all;
  }
  
  .modal_cancel_contact::after {
    content: "";
    width: 120px;
    height: 200px;
    border-radius: 0px 0px 100% 100%;
    background-color: rgb(244, 100, 100);
    position: absolute;
    z-index: 1;
    top: -200px;
    left: 0;
    transition: 0.8s ease-in-out all;
  }
  
  .modal_cancel_contact:hover::after {
    top: 0;
  }

  .container_contact{
    width: 150px;
    display: flex;
    justify-content: center;
  }


  /* BUTTONS SKILLS */
  
  .css-button-retro--sand {
    border-radius: 10px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
  }
  .css-button-retro--sand:hover:after {
    top: 0;
    left: 0;
  }
  .css-button-retro--sand:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background: #94989b;
    border-radius: 10px;
  }

  /*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
  background: #393939; /* color de fondo */
  color: rgba(245, 245, 245, 0.85); /* color de fuente */
  border: 2px solid rgba(245, 245, 245, 0.793); /* tamaño y color de borde */
  padding: 8px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
  }
  .ov-btn-grow-skew:hover {
  color: #393939;/* color de fuente hover */
  }
  .ov-btn-grow-skew::after {
  content: "";
  background: rgba(245, 245, 245, 0.793);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
  }


  /* EFECTS CONTAINERS AND MARGINS Y PADDINGS */
  .container_PicturePresentation_structure{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #D1D1D1;
    height: 700px;
  }
  .container_TextPresentation_structure{
    padding-top: 120px;
    padding-bottom: 90px;
    background-color: #B2B1B9;
    min-height: 800px;
    color: black;
  }

  .container_Skills_structure{
    padding-top: 60px;
    padding-bottom: 30px;
    min-height: 800px;
    background-color: #2C2E43;
  }

  .container_skills > h3 {
    color: white
  }

  .css-button-sliding-to-bottom--sand {
    min-width: 130px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #2b2e42;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 1);
    animation: mymove 3s ease-out infinite;
    margin-top: 10px;
  }
  @keyframes mymove {
    50% {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(244, 236, 53, 0.6);
    -moz-box-shadow: 0px 0px 20px 0px rgba(244, 236, 53, 0.6);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1)
    }

  }


  .css-button-sliding-to-bottom--sand:hover {
    color: #2b2e42;;
  }
  .css-button-sliding-to-bottom--sand:hover:after {
    height: 100%;
  }
  .css-button-sliding-to-bottom--sand:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.837);
    color: #2b2e42;;
  }


  .icon_animate_jump:hover{
    animation: jumpMove 1s ease-out infinite;
  
  }
  @keyframes jumpMove {
    50% {
    padding: 3px;
    }

  }


  /*  EFECTO PORTFOLIO */


  @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
 
}

.footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  
}

.container_modal_downloadCV > h5 {
  color: white
}
.button-container-2 {
  position: relative;
 
  height: auto;
  padding: 10px;
  
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  margin: 10px;
  
}
.button-container-2 button {
  width: 100%;
  height: 80vh;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
 
  background-size: 100% 100%;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 1.2s steps(29) forwards;

}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 1.2s steps(29) forwards;
}
.mas {
  position: absolute;
  color: #000;
  background-color: grey;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 30px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.bg1{
  background-image: url('../src/Assets/img/proy1.png');
  transition: width 1.3s;
  transition-timing-function: cubic-bezier(1,0,1,-0.25);
}
.bg1:hover{
  position: relative;
}

.bg2{
  background-image: url('../src/Assets/img/wheatherapii.png');
}
.bg3{
  background-image: url('../src/Assets/img/kanba.png');
}
.bg4{
  background-image: url('../src/Assets/img/responsive.png');
}
.bg5{
  background-image: url('../src/Assets/img/rick.png');
}
.bg6{
  background-image: url('../src/Assets/img/tetis.png');
}

.react:hover{
  color: rgb(159, 237, 243);
}
.js:hover{
  color: #f7d803;
}

.html:hover {
  color: #e96228
}
.css:hover{
  color:    #27a3d9
}
.scss:hover{
  color:   #c96398
}
.exp:hover{
  color: #8bbe3d
}
.node:hover{
  color: #3e3f35
}
.mongo:hover{
  color: #56a54d
}
.boost:hover{
  color: #7612f0
}
.colorDark:hover{
  color:white
}

.icon_portfolio{
  width: 5vw;
  height: 5vw;
  margin: 10px;
}


/* PORTFOLIO LOADING EFFECT */

.loading_lazy_container{
  background-color: #b2b1b9;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
}
.lds-ripple div {
  position: absolute;
  border: 10px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes lds-ripple {
  0% {
    top: 150px;
    left: 150px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 150px;
    left: 150px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 150px;
    left: 150px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 290px;
    height: 290px;
    opacity: 0;
  }
}

.ant-modal-header{
  background-color: #2b2e42;
 
}

.ant-modal-title{
  color: white;
}
.ant-modal-body{
  background-color: #133B5C;
  color: white
}